<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>


    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>

<div id="main">
    <div class="content">
        <div class="lock_bar"></div>
        <div class="lock_header">
            <span class="time"></span>
            <span class="day"></span>
        </div>
        <div class="lock_slide">
            <div class="lock_slide_button">
                <div class="slidebutton">
                    <img src="images/m_lock_slide_button.png">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="js/jquery2.0.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.queryloader2.js"></script>
<script src="js/moment.min.js"></script>

<script>
    $(document).ready(function () {
        $("body").queryLoader2();
        $(".lock_header .time").html(moment().format('h:mm'));
        $(".lock_header .day").html(moment().format("MMM Do YY"));

    });
    $(function () {


        var draglen = 0;
        $(" .slidebutton").draggable({
            axis:"x",
            containment:"parent",
            revert:true,
            start:function () {
                draglen = 0;
            },
            drag:function () {
                draglen++;
            },
            stop:function () {
                console.log(draglen);
                if (draglen > 10 && draglen < 60) {

                   $('.content').fadeOut('fast', function () {
                       $("#main").css("background-image","url(images/m_ipad_index.png)")
                    });

                }
            }
        });
    });
</script>
;
</html>