<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>


    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<div id="toolbar"><a class="w" href="javascript:;"> white</a>|<a class="b" href="javascript:;"> black</a> <em>长按HOME键开机</em> </div>
<div id="main" class="blacktheme">
    <div class="content" style="display: none">
        <div id="lock_screen_model"   class="model step1">
          <div class="lock_bar"></div>
        <div class="lock_header">
            <span class="time"></span>
            <span class="day"></span>
        </div>
        <div class="lock_slide">
            <div class="lock_slide_button">
                <div class="slidebutton">
                    <img src="images/m_lock_slide_button.png" alt="unlock"/>
                </div>
            </div>
        </div>
       </div>
        <div id="index_screen_model" class="model step2">
              <div>
            <img src="images/ipad_index_bg.png"/></div>
        </div>
    </div>
    <div class="home_button">

        <img class="home" src="images/ipad_home_button.png" alt="home"/>
    </div>
</div>

</body>
<script src="js/jquery2.0.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.queryloader2.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/ipad.js"></script>

</html>